body {
	font-family: "Segoe UI", sans-serif;
	background-image: url('bg.jpg');
	background-size: cover;
	background-attachment:fixed;
	background-position:center;	
	color:white;
	overflow:hidden;
	padding:0;
	margin:0;
}

#container {
	margin: 0 auto;
	width: 90%;
}

table {
	border-collapse:collapse;
}
td, th {
	border: solid black 1px;
}

#categorylist {
	list-style-type:none;
	padding:0;
	text-align:center;
	display:block;
	height: 400px;
	width: 800px;
	margin: 0 auto;
}

#categorylist li{
	display:inline-block;
	border: solid #cdf 4px;
	border-radius: 5px;
	font-size: 150%;
	width: 200px;
	margin: 10px;
	height: 150px;
	vertical-align:bottom;	
	line-height: 140px;
	cursor:pointer;
	background-color: rgba(0,0,24,0.8);
	box-shadow: 10px 5px 10px #013;
	font-weight: 600;
	padding: 10px;
	
	transition: background-color 0.2s, box-shadow 0.2s;
	-moz-transition: background-color 0.2s, box-shadow 0.2s;
	-webkit-transition: background-color 0.2s, box-shadow 0.2s;
	-o-transition: background-color 0.2s, box-shadow 0.2s;
}

#categorylist li:hover {
	background-color: rgba(0,20,48,0.8);
	box-shadow: 20px 10px 10px #037;
}

#categorylist span {
	vertical-align:middle;
	display:inline-block;
	position:relative;
	line-height: 120%; 
}

#pageant-title {
	text-align:center;
	background: rgba(0,0,25,0.7);
	padding: 20px;
}

.scoretable {
	margin: 0 auto;
}

.scoretable th, .scoretable td {
	border: solid 2px #446;
}

.scoretable thead th {
	width: 100px;
	vertical-align:bottom;	
}

.scoretable  thead th span{
	display:block;
	font-size: 125%;
	padding-top: 10px;
}

.scoretable th.contestant-column {
	width: 200px;
	overflow:hidden;
	font-size: 1.5em;
}

.scoretable tbody td {
	height: 50px;
	text-align: center;
	padding: 2px;
}

.scoretable td input {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	background-color: rgba(0,128,255,0.2);
	color:white;
	border: none;
}

.scoretable .total, .scoretable .rank {
	background-color: rgba(0,0,0,0);
	border: none;
}

.score-saveclose {
	float:right;
	display:block;
	text-decoration:none;
	background-color:rgba(0,40,88,0.8);
	padding: 6px;
	border-radius: 5px;
	border: solid #cdf 2px;
	font-weight: 600;
	font-size:1.3em;
	cursor:pointer;
	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
}

.score-saveclose:hover {
	background-color:rgba(0,80,168,0.8);
}

.page-scoring{
	border: solid #cdf 2px;
	margin: 2.5%;
	width: 95%;
	border-radius: 7px;
	background-color: rgba(0,0,24,0.8);
	display:none;
	padding: 10px;
	overflow:auto;
	height: 100%;
	padding-bottom: 30px;
	z-index: 10;
}

#footer {
	text-align:right;
	font-size:75%;
	width: 200px;
	margin-left: -220px;
	height:50px;
	top: 100%;
	left:100%;
	padding: 4px;
	opacity:0.3;
	margin-top: -50px;
	z-index: -5;
	position:fixed;
}

#logo {
	display:block;
	margin: 0 auto;
}

hr {
	color:black;
	border: solid black 1px;
}

#control-panel {
	position:fixed;
	background-color: rgba(0,0,10,0.8);
	padding: 8px 16px;
	margin: 0;
	font-size:small;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#control-panel a{
	color: #125;
	text-decoration:none;
	display:inline-block;
	margin: 0 5px;
}

#control-panel a:hover{
	color:#237;
}

a.button {
	display:inline-block;
	padding: 5px;
	cursor:pointer;
	border: solid #247 2px;
	border-radius: 3px;
	margin: 5px;
	background-color:#113;
	color:white;
	text-decoration:none;
}

a.button:hover {
	background-color: #125;
}

.large {	font-size: 1.5em;}
.center { text-align:center;}
span.block{ display:block;}
.dark {	color: #002;}
.bold { font-weight: 600; }